<p class="content glyphicon-piggy-bank">
  The owners and management at <blockquote>JJ Group of Companies</blockquote> have extensive backgrounds in the military catering industry. With years of collective experience, JJs is able to set a high standard for excellence, and is working to increase their service capabilities as the company continues to grow.

JJS primarily focuses on serving the Advanced Individual Training (AIT) Soldiers at Fort Lee. These solders arrive following the completion of basic training. Additionally, JJS works to coordinate and cater to special events held at Fort Lee including General luncheons and visits from political figures.

Below you’ll find more information about JJS President John Jones and partner Joe Blackstone, President of Blackstone Consulting, Inc.</p>

